* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}


header {
    padding: 30px 0;
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 20px;
    background: rgb(209, 185, 155);
}

.header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo h2 {
    color: #fff;
}

.header-nav {
    display: flex;
    gap: 25px;
}

.header-nav a {
    color: #fff;
    font-weight: 500;
}

.catalog {
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.catalog h2 {
    font-size: 36px;
    color: #414141;
}

.title-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: 285px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card img {
    height: 400px;
    object-fit: cover;
}

.block-add {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 0;
}

.addform {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background: rgb(236, 211, 180);
    padding: 40px 30px;
    border-radius: 15px;
    width: 700px;
}

.addform .add-input {
    padding: 15px;
    width: 400px;
    background-color: #fff;
    border: 1px solid #806b5c;
    border-radius: 10px;
    font-size: 18px;
    outline: none;
    color: #806756;
}

.add-input::placeholder {
    color: #806756;
}

.addform .h3-text {
    font-size: 36px;
    color: #414141;
}

.category-select {
    display: flex;
    gap: 20px;
    font-size: 16px;
    color: #414141;
    padding: 15px;
    width: 400px;
    background-color: #fff;
    border: 1px solid #806b5c;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
}

.category-select h3 {
    font-weight: 500;
    font-size: 16px;
}

.add-tovar {
    padding: 15px 30px;
    width: 400px;
    background-color: #806756;
    color: #fff;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 20px;
}

.input-search {
    width: 100%;
    padding: 15px;
    border: 1px solid #a59488;
    border-radius: 10px;
    font-size: 18px;
    outline-color: #806756;
    color: #414141;
}

.btn-search {
    width: 50px;
    height: 50px;
    background-color: #ddc9bb;
    border: none;
    padding: 0 15px;
    border-radius: 10px;
}

.category {
    display: flex;
    gap: 20px;
}

.category a {
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #a59488;
    color: #fff;
}

.catalog form {
    display: flex;
    gap: 20px;
}

.error {
    color: red;
}